
    <div id="page_content" class="uk-height-1-1">

        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">Choose course</h3>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-large-1-2">
                        <selectize id="selec_adv_1" config="selectize_planets_config" options="selectize_planets_options" position="bottom" ng-model="forms_advanced.selectize_planets"></selectize>
                    </div>
                    {{forms_advanced.selectize_planets}}
                    <!-- {{selectize_planets_options}} -->
                </div>
            </div>
        </div>

        <div class="scrum_board_overflow">
            <div id="scrum_board" class="uk-clearfix">

                <div ng-repeat="group in task_groups" >
                    <div class="scrum_column_heading">{{ group.name }}</div>
                    <div class="scrum_column">
                        <div class="dragula dragula-vertical" dragula-scope="$parent" dragula='"tasks"' dragula-model='dragula_tasks' id="{{ group.id }}">
                            <div ng-repeat="task in tasks_list | filter: { group: group.id }">
                                <div class="scrum_task {{ task.status }}">
                                    <h3 class="scrum_task_title"><a href="#task_info" data-uk-modal="{ center:true }" ng-click="taskInfo(task)">{{ task.course_name }}</a></h3>
                                    <p class="scrum_task_description">{{ task.description }}</p>
                                    <p class="scrum_task_info"><span class="uk-text-muted">Assignee:</span> <a href="#">{{ task.assignee }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="uk-modal" id="task_info">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <span class="uk-badge uk-badge-danger uk-float-right" ng-if="info.status == 'blocker'">BLOCKER</span>
                <span class="uk-badge uk-badge-success uk-float-right" ng-if="info.status == 'minor'">MINOR</span>
                <span class="uk-badge uk-badge-warning uk-float-right" ng-if="info.status == 'critical'">CRITICAL</span>
                <h3 class="uk-modal-title">{{ info.name }}</h3>
            </div>
            <form class="uk-form-stacked">
                <div class="uk-margin-medium-bottom">
                    <p class="uk-margin-small-bottom uk-text-muted">Title</p>
                    <p class="uk-margin-remove uk-text-large">{{ info.title }}</p>
                </div>
                <div class="uk-margin-medium-bottom">
                    <p class="uk-margin-small-bottom uk-text-muted">Description</p>
                    <p class="uk-margin-remove">{{ info.description }}</p>
                </div>
                <div class="uk-margin-medium-bottom">
                    <p class="uk-margin-small-bottom uk-text-muted">Assignee</p>
                    <p class="uk-margin-remove">{{ info.assignee }}</p>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
                </div>
            </form>
        </div>
    </div>