<style type="text/css">
font {10px;}
</style>
<div id="page_content" class="uk-height-1-1">
    <!-- {{userProfile}} -->
    <div class="md-card">
        <div class="md-card-content">
            <h4 class="heading_a">  </h4>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-2-2">

            </div>
        </div>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-medium-6-10 uk-row-first">
        <div ng-repeat="quarter_name in quarters">
            <table class="uk-table course_plan" >
                <caption>  Quarter {{$index+1}} Credits: {{creditsInQuarter(quarter_name)}}</caption>
                <thead>
                    <tr>
                        <th> #</th>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Day of week</th>
                        <th>Location</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in tasks_list| filter:{group:quarter_name}">
                        <td>{{course.course_number}}</td>
                        <td>{{course.course_name}}</td>
                        <td>{{course.start_date| date:'MM/dd'}} ~ {{course.end_date| date:'MM/dd'}}</td>
                        <td>{{course.start_date| date:'EEEE'}}</td>
                        <td>{{course.site_name}}</td>
                        <td>{{course.credit_hours}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="uk-width-medium-4-10"  >
        <div ng-show="statistics.credit_hours">
            <h3 class="heading_b">Statistics</h3>
            <div class="md-card">
                <div class="md-card-content" >
                    <div ng-show="statistics">
                        <p> Total hours: {{statistics.credit_hours}}</p>
                        <p> Cost: {{statistics.cost}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="tasks_list.length>0">
            <h3 class="heading_b">Warnings</h3>
            <div class="md-card">
                <div class="md-card-content" ng-show="messages.length > 0">
                    <ul ng-repeat="msg in messages">
                        <li>
                            <span class="uk-badge uk-badge-danger" >{{msg}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    
</div>
