<header id="header_main" ng-controller="main_headerCtrl">
    <div class="header_main_content">
        <nav class="uk-navbar">
            <a href="#">HOME</a>
            <a ng-click="facebookRegisteration()">會員登入/建立帳號</a>
                        
        <div class="uk-navbar-flip">
            <a href="#">上架商品 </a>
            | 
            <a ng-click="facebookRegisteration()">會員登入/建立帳號</a>
        
<!--             <ul class="uk-navbar-nav user_actions">
                <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light"></i></a></li>
                <li><a href="#" id="main_search_btn" class="user_action_icon"><i class="material-icons md-24 md-light"></i></li>
                
                <li>
                    
            <a href="#">HOME</a>
                </li>
                
            </ul> -->
            
        </div>

        </nav>
    </header>